.content{
    width: 100%;
    padding: 1rem;
    font-size: 0.9rem;
}

.content-top-grid{
  width: 100%;
  margin: 0 0 3rem 0;

  display: grid;
  grid-template-columns: repeat(3,minmax(200px,1fr));
}

.content-top-grid > div{
  padding: 1rem;
}
.anchor_container{
  justify-content: center;
}
#anchor{
  width: 60px;
}

.grid {
    min-width: 200px;
    
    display: grid;
    grid-template-columns: repeat(3,minmax(200px,1fr));
    grid-template-rows: 2fr 1fr;
  }
  
  .grid-item {
    padding: 1rem;
    /* border: 1px solid grey; */
  }
  
  .only_mobile{
    display:none;
  }
  .mobile_and_tab{
    display: none;
  }

  .tile_container{
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .tile{
    display: flex;
    flex-direction: row-reverse;
  }
  input{
    opacity: 0;
  }
 
  input[type="radio"]:checked + label {
    background-color: var(--opaque-orange);
    color: var(--sharp-orange);
    /* styling for selected radio button */
  }
  label{
    border-radius: 6px;
    background-color: var(--blue-gray);
    color: var(--font-blue-gray);
    font-weight: bold;
    padding: 0.3rem;
    cursor: pointer;
    /* default style for radio buttons */
  }

  table {
    border-collapse: collapse;
    width: 100%;
    max-width: 200px;
  }
  table,
  th,
  td {
    /* border: solid black 2px; */
    line-height: 1.3rem;
  }

  table td:nth-child(odd) {
    text-align: left;
  }

  table td:nth-child(even) {
    text-align: right;
  }

  
  .tophideme, .bottomhideme{
    padding: 0 0 0 1rem;
  }
  


.bottom-btn_container{
  height: 100%;

  display: flex;
  justify-content: end;
  align-items: end;
 
}
.button_contact{
  border-radius: 1.2em;
  background-color: var(--sharp-orange);
  padding: 0.3rem;
  min-width: 150px;
  max-height: 35px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-items: center;

  text-decoration: none;
}


  
  @media (max-width: 1012px){
    .grid{
      grid-template-columns: repeat(2,minmax(200px,1fr));
    }
    .content-top-grid{
      grid-template-columns: repeat(2,minmax(100px,1fr));
    }
    .mobile_and_tab{
      display: flex;
    }
  }


  @media (max-width: 430px){
      .content{
        translate: 0 -40px;
      }
      .grid{
          grid-template-columns: repeat(1,minmax(200px,1fr));
          grid-template-rows: 0.5fr 4fr 0.5fr 2fr 2fr;
      }
      .content-top-grid{
        background: linear-gradient(0deg, rgba(13,15,17,1) 2%, rgb(13 15 17) 43%, rgb(22 5 0) 100%);
        backdrop-filter: blur(10px);
      }
      .tophideme{
          grid-area: 1 / 1 / 2 / 2;
      }
      .top-row{
          grid-area: 2 / 1 / 3 / 2;
      }
      
      .bottomhideme{
          grid-area: 3 / 1 / 4 / 2;
  }
  .bottom-row{
      grid-area: 4 / 1 / 5 / 2;
      }

      table{
        max-width: unset;
      }
      
      .only_mobile{
          display: flex;
      }
      .middlelist > h4, .bottomlist > h4{
        display: none;
      }
  }