.image_banner{
    background-image: url("../assets/image/theman.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* shrink the above commands */
    width: 40%;
    padding: 1.2rem;

    border-radius: 15px 0 0 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


@media (max-width: 950px){
    .image_banner{
        width: 60%;
    }
}

@media (max-width: 780px){
    .image_banner{
        border-radius: 15px 15px 0 0;
        width: 100%;
        height: 60vh;
    }
}
@media (max-width: 430px) {
    .image_banner{
        height: 85vh;
    }
    .blurb{
        translate: 0 -40px;
    }
}

